/*(style.css)*/

/*pc형(전체)*/
html, body, main{height:100%;}
/*visual-----------------------*/
#visual{
    background:#217CA3;
    width:100%;
	height:100%;
}
#visual div.main_inner{
	height:100%;
	text-align:center;
	position:relative;
}
#visual div.main_inner div.img_box{
	padding-top:10vh;
}
#visual div.main_inner div.img_box img{
	height:350px;
}
.chatbox {
	animation: motion 2s linear 0s infinite alternate; margin-top:0;
}      
@keyframes motion {
	0% {margin-top:0;}
	50% {margin-top:20px;}
}
#visual div.main_inner div#intro{
	font-weight:900;
	font-size:1.375rem;
	color:#fff;
	height:auto;
	margin:0 auto;
	position: absolute;
	top:57%;
	width:100%;
}
.typed-cursor--blink{display:none;}
#visual div.main_inner div.scroll_icon{
	width:100%;
	position:relative;
	position: absolute;
	bottom:50px;
	color:#fff;
}
#visual div.main_inner div.scroll_icon a span{
	position: absolute;
	bottom: 30px;
	left: 50%;
	width: 30px;
	height: 50px;
	margin-left: -15px;
	border: 2px solid #fff;
	border-radius: 50px;
	box-sizing: border-box;
  }
#visual div.main_inner div.scroll_icon a span::before {
	position: absolute;
	top: 10px;
	left: 50%;
	content: '';
	width: 6px;
	height: 6px;
	margin-left: -3px;
	background-color: #fff;
	border-radius: 100%;
	-webkit-animation: sdb 2s infinite;
	animation: sdb 2s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb {
	0% {
	  -webkit-transform: translate(0, 0);
	  opacity: 0;
	}
	40% {
	  opacity: 1;
	}
	80% {
	  -webkit-transform: translate(0, 20px);
	  opacity: 0;
	}
	100% {
	  opacity: 0;
	}
}
@keyframes sdb {
	0% {
	  transform: translate(0, 0);
	  opacity: 0;
	}
	40% {
	  opacity: 1;
	}
	80% {
	  transform: translate(0, 20px);
	  opacity: 0;
	}
	100% {
	  opacity: 0;
	}
}

/*content01-----------------------*/
#content01{
	width:100%;
}
#content01 div.main_inner{
	width:78%;/*width:1500px*/
	margin:0 auto;
}
#content01 div.main_inner div.text_box{
	margin-bottom:140px
}
#content01 div.main_inner div.text_box:nth-child(1){
	margin-top:200px;
}
#content01 div.main_inner div.text_box:nth-last-child(1){
	margin-bottom:200px;
}
#content01 div.main_inner div.text_box h1{
	margin-bottom:45px;
	font-size:2rem;
	font-weight:900;
	color:#217CA3;
}
#content01 div.main_inner div.text_box h2{
	margin-bottom:15px;
	font-size:1.125rem;
	font-weight:700;
	color:#000;
}
#content01 div.main_inner div.text_box p{
	font-size:1.125rem;
	font-weight:500;
	color:#4A4A4A;
}
#content01 div.main_inner div.text_box li{
	margin-bottom:45px;
}
#content01 div.main_inner div.text_box li:last-child{
	margin-bottom:0;
}
#content01 div.main_inner div.text_box span.education{
	color:#059B26;
}
#content01 div.main_inner div.text_box span.company{
	color:#3735A7;
}

/*content02-----------------------*/

/*swiper 공통-----------------------*/
.swiper-container01 .swiper-container02{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	/* Fix of Webkit flickering */
	z-index: 1;
	width: 100%;
	height: 100%;
}
.swiper-wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
}
.swiper-slide {
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	transition-property: transform;
}
.arrow_box{
	width:200px;
	height:100px;
	text-align:center;
	margin:0 auto;
	z-index:20;
}
.swiper-button-prev:nth-child(1){
	float:left;
}
.swiper-button-prev:nth-child(2){
	float:right;
}
.arrow-prev,
.arrow-next {
	margin-top:50px;
    position: relative;
    float:left;
    width:50px;
    height:50px;
}
.arrow-prev::after {
    position: absolute;
    left: 18px; 
    top: 10px;
    content: '';
    width: 25px; /* 사이즈 */
    height: 25px; /* 사이즈 */
    border-top: 4px solid #000; /* 선 두께 */
    border-right: 4px solid #000; /* 선 두께 */
    transform: rotate(225deg); /* 각도 */
}

.arrow-next::after {
    position: absolute;
    left:1px; 
    top: 10px;
    content: '';
	width: 25px; /* 사이즈 */
    height: 25px; /* 사이즈 */
    border-top: 4px solid #000; /* 선 두께 */
    border-right: 4px solid #000; /* 선 두께 */
    transform: rotate(45deg); /* 각도 */
}
/*//swiper 공통 끝-----------------------*/

#content02{
	width:100%;
	text-align:center;
}
#content02 div.Portfolio_title{
	width:100%;
	margin-bottom:200px;
}
#content02 div.Portfolio_title h1{
	font-size:4.5rem;
	font-weight:900;
	color:#fff;
	background:#217CA3;
	text-align:center;
	padding:58px 0;
}

#content02 .work-inner{
	width:78%;/*width:1500px*/
	margin:0 auto;
	margin-bottom:110px;
}
#content02 .work-inner h2{
	font-size:3rem;
	font-weight:900;
	color:#000;
	margin-bottom:45px;
}
#content02 .work-inner ul{
	width:100%;
	display:flex;
	    flex-wrap: wrap;
}
#content02 .work-inner ul li{
	width:32%;
	margin-right:2%;
	margin-bottom:2%;
}
#content02 .work-inner ul li:nth-child(3n){
	margin-right:0;
}
#content02 .work-inner ul li a{
	display:block;
	position:relative;
}
#content02 .work-inner ul li a p{
	color:#fff;
	font-size:18px;
	width:100%;
	height:100%;
	position:absolute;
	display: flex;
    justify-content: center;
    align-items: center;
	background:rgba(0, 0, 0, 0.4);
	padding: 5px;
	transition: all 0.8s;
}
#content02 .work-inner ul li a:hover p{
	background:rgba(0, 0, 0, 0.9);
	font-weight:700;
	transition: all 0.8s;
}
#content02 .work-inner ul li a img{
	display:block;
}

#content02 div.slider_box{
	padding-bottom:200px;
	position:relative;
	height:auto;
	overflow:hidden;
}
#content02 div.slider_box h2{
	font-size:3rem;
	font-weight:900;
	color:#000;
	margin-bottom:45px;
}
#content02 div.slider_box h3{
	font-size:2rem;
	font-weight:700;
	color:#3E3E3E;
	margin-bottom:29px;	
}

#content02 ul.swiper-wrapper li.swiper-slide div.hover-box{
	position:relative;
	border-radius:42px;
	width:100%;
	height:auto;
	overflow:hidden;
	margin:0 auto;
	-webkit-box-shadow: 0 5px 25px 0 rgba(0,0,0,40);
	box-shadow: 0 5px 25px 0 rgba(0,0,0,40);
	transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}
#content02 ul.swiper-wrapper li.swiper-slide div.hover-box img{
	width:100%;
	vertical-align : bottom;
}
#content02 ul.swiper-wrapper li.swiper-slide div.hover-box article{
	position:absolute;
	top:0;
	background:rgba(0,0,0,0.7);
	color:#fff;
	height:100%;
	font-size:0.83vw;
	width:100%;
	transition: all 0.5s;
	opacity:0;
}
#content02 ul.swiper-wrapper li.swiper-slide div.hover-box:hover article{
	position:absolute;
	top:0;
	background:rgba(0,0,0,0.7);
	color:#fff;
	height:100%;
	font-size:0.83vw;
	width:100%;
	opacity:1;
}
#content02 ul.swiper-wrapper li.swiper-slide div.hover-box article ul{
	font-weight:300;
	padding-top:5.21vw;
}
#content02 ul.swiper-wrapper li.swiper-slide div.hover-box article p{
	font-weight:400;
	width:70%;
	margin:auto;
	padding:1.93vw 0;
}
#content02 ul.swiper-wrapper li.swiper-slide div.hover-box article p.more_button{
	font-weight:400;
	width:120px;
	font-size:0.73vw;
}
#content02 ul.swiper-wrapper li.swiper-slide div.hover-box article p.more_button a{
	display:inline-block;
	width:100%;
	height:100%;
	padding:5px 0;
	border:1px solid #fff;
}
#content02 ul.swiper-wrapper li.swiper-slide div.hover-box article p.more_button a:hover{
	opacity:0.3;
	transition: all 0.8s;
}
/*content03-----------------------*/
#content03{
    background:#217CA3;
    width:100%;
}
#content03 div.main_inner{
    width:78%;/*width:1500px*/
	margin:0 auto;
	overflow:hidden;
	padding:200px 0;
}
#content03 div.main_inner ul{
    float:left;
	color:#fff;
}
#content03 div.main_inner ul.left_box{
    float:left;
	width:56%;
	font-size:1.5rem;
	text-align:right;
}
#content03 div.main_inner ul.left_box li:nth-child(1){
	font-weight:700;
}
#content03 div.main_inner ul.left_box li:nth-child(2){
	font-weight:400;
	margin-top:70px;
}
#content03 div.main_inner ul.right_box{
    float:left;
	width:39%;
	margin-left:5%;
}
#content03 div.main_inner ul.right_box li{
	font-size:1.25rem;
	margin-bottom:25px;
	font-weight:400;	
}
#content03 div.main_inner ul.right_box li span{
	font-weight:700;
	width:150px;
	display:inline-block;
}
#content03 div.main_inner ul.right_box li a{
	color:#2D1414;
	font-weight:700;
}
#content03 div.main_inner ul.right_box li a:hover{
	color:#fff;
}

@media all and (min-width:600px) and (max-width:1279px){
	/*visual-tablet-----------------------*/
	#visual{
		background:#217CA3;
		width:100%;
		height:1000px;
	}
	#visual div.main_inner{
		height:100%;
		text-align:center;
		position:relative;
		width:90%;
		margin:0 auto;
	}
	#visual div.main_inner div.img_box{
		padding-top:140px;
	}
	#visual div.main_inner div#intro{
		font-weight:900;
		font-size:1.375rem;
		color:#fff;
		height:auto;
		margin-top:80px;
	}
	.typed-cursor--blink{display:none;}
	#visual div.main_inner div.scroll_icon{
		display:none;
	}

	/*content01-tablet-----------------------*/
	#content01{
		width:100%;
	}
	#content01 div.main_inner{
		width:90%;
		margin:0 auto;
	}
	#content01 div.main_inner div.text_box{
		margin-bottom:120px
	}
	#content01 div.main_inner div.text_box:nth-child(1){
		margin-top:150px;
	}
	#content01 div.main_inner div.text_box:nth-last-child(1){
		margin-bottom:150px;
	}
	#content01 div.main_inner div.text_box h1{
		margin-bottom:35px;
	}
	#content01 div.main_inner div.text_box h2{
		margin-bottom:15px;
	}
	#content01 div.main_inner div.text_box li{
		margin-bottom:45px;
	}

	/*content02-tablet-----------------------*/
	/*swiper 공통-----------------------*/

	/*//swiper 공통 끝-----------------------*/
	#content02{
		width:100%;
		text-align:center;
	}
	#content02 div.Portfolio_title{
		margin-bottom:150px;
	}
	#content02 div.Portfolio_title h1{
		font-size:4rem;
	}

	#content02 .work-inner{
		width:90%;
		margin:0 auto;
		margin-bottom:110px;
	}
	#content02 .work-inner ul li a p{
		font-size:15px;
	}

	#content02 div.slider_box{
		padding-bottom:150px;
	}
	#content02 div.slider_box h2{
		font-size:3rem;
		margin-bottom:30px;
	}
	#content02 div.slider_box h3{
		font-size:2rem;
		margin-bottom:20px;
	}
	#content02 ul.swiper-wrapper li.swiper-slide div.hover-box article{
		position:absolute;
		top:0;
		background:rgba(0,0,0,0.7);
		color:#fff;
		height:100%;
		font-size:0.83vw;
		width:100%;
		transition: all 0.5s;
		opacity:0;
	}
	#content02 ul.swiper-wrapper li.swiper-slide div.hover-box:hover article{
		position:absolute;
		top:0;
		background:rgba(0,0,0,0.7);
		color:#fff;
		height:100%;
		font-size:0.83vw;
		width:100%;
		opacity:1;
	}
	#content02 ul.swiper-wrapper li.swiper-slide div.hover-box article ul{
		font-weight:300;
		padding-top:8.21vw;
	}
	#content02 ul.swiper-wrapper li.swiper-slide div.hover-box article p{
		font-weight:400;
		width:70%;
		margin:auto;
		padding:1.93vw 0;
	}
	#content02 ul.swiper-wrapper li.swiper-slide div.hover-box article p.more_button{
		font-weight:400;
		width:120px;
		padding:5px 0;
		font-size:0.73vw;
	}
	#content02 ul.swiper-wrapper li.swiper-slide div.hover-box article p.more_button a{
		display:inline-block;
		width:100%;
		height:100%;
		border:1px solid #fff;
	}
	#content02 ul.swiper-wrapper li.swiper-slide div.hover-box article p.more_button a:hover{
		opacity:0.3;
		transition: all 0.8s;
	}
	/*content03-tablet-----------------------*/
	#content03 div.main_inner{
		width:90%;/*width:1500px*/
		margin:0 auto;
		overflow:hidden;
		padding:100px 0;
	}
	#content03 div.main_inner ul{
		float:none;
		color:#fff;
	}
	#content03 div.main_inner ul.left_box{
		float:none;
		width:100%;
		font-size:1.5rem;
		text-align:left;
	}
	#content03 div.main_inner ul.left_box li:nth-child(1){
		font-weight:700;
	}
	#content03 div.main_inner ul.left_box li:nth-child(2){
		font-weight:400;
		margin-top:20px;
	}
	#content03 div.main_inner ul.right_box{
		float:none;
		width:100%;
		margin-left:0;
		margin-top:80px;
	}
	#content03 div.main_inner ul.right_box li{
		font-size:1.25rem;
		margin-bottom:10px;
		font-weight:400;	
	}
}

@media all and (max-width:599px){
	/*visual-mobile-----------------------*/
	#visual{
		background:#217CA3;
		width:100%;
		height:700px;
	}
	#visual div.main_inner{
		height:100%;
		text-align:center;
		position:relative;
		width:90%;
		margin:0 auto;
	}
	#visual div.main_inner div.img_box{
		padding-top:60px;
	}
	#visual div.main_inner div#intro{
		font-weight:900;
		font-size:1.125rem;
		color:#fff;
		height:auto;
		margin-top:0;
	}
	.typed-cursor--blink{display:none;}
	#visual div.main_inner div.scroll_icon{
		display:none;
	}

	/*content01-mobile-----------------------*/
	#content01{
		width:100%;
	}
	#content01 div.main_inner{
		width:90%;
		margin:0 auto;
	}
	#content01 div.main_inner div.text_box{
		margin-bottom:80px
	}
	#content01 div.main_inner div.text_box:nth-child(1){
		margin-top:100px;
	}
	#content01 div.main_inner div.text_box:nth-last-child(1){
		margin-bottom:100px;
	}
	#content01 div.main_inner div.text_box h1{
		margin-bottom:25px;
	}
	#content01 div.main_inner div.text_box h2{
		margin-bottom:15px;
	}
	#content01 div.main_inner div.text_box li{
		margin-bottom:40px;
	}
	/*content02-mobile-----------------------*/
	/*swiper 공통-----------------------*/
	/*//swiper 공통 끝-----------------------*/
	#content02{
		width:100%;
		margin:0 auto;
		text-align:center;
	}
	#content02 div.Portfolio_title{
		margin-bottom:100px;
	}
	#content02 div.Portfolio_title h1{
		font-size:3rem;
	}

	#content02 .work-inner{
		width:min(460px, 90%);
		margin:0 auto;
		margin-bottom:90px;
	}
	#content02 .work-inner h2{
		font-size:2rem;
		margin-bottom:10px;
	}
	#content02 .work-inner ul{
		width:100%;
		display:flex;
		flex-wrap: wrap;
	}
	#content02 .work-inner ul li{
		width:100%;
		margin-right:0;
		margin-bottom:2%;
	}
	#content02 .work-inner ul li:nth-child(3n){
		margin-right:0;
	}
	#content02 .work-inner ul li a p{
		font-size:15px;
	}

	#content02 div.slider_box{
		padding-bottom:100px;
	}
	#content02 div.slider_box h2{
		font-size:2rem;
		margin-bottom:10px;
	}
	#content02 div.slider_box h3{
		font-size:1.25rem;
		margin-bottom:15px;
	}
	#content02 ul.swiper-wrapper li.swiper-slide a div.hover-box{
		border-radius:17px;
	}
	#content02 ul.swiper-wrapper li.swiper-slide div.hover-box article ul{
		display:none;
	}
	#content02 ul.swiper-wrapper li.swiper-slide div.hover-box article p.explanation{
		display:none;
	}
	#content02 ul.swiper-wrapper li.swiper-slide div.hover-box article p.more_button{
		padding-top:30%;
	}
	.arrow_box{
		display:none;
	}
	/*content03-mobile-----------------------*/
	#content03 div.main_inner{
		width:90%;/*width:1500px*/
		margin:0 auto;
		overflow:hidden;
		padding:100px 0;
	}
	#content03 div.main_inner ul{
		float:none;
		color:#fff;
	}
	#content03 div.main_inner ul.left_box{
		float:none;
		width:100%;
		font-size:1.25rem;
		text-align:left;
	}
	#content03 div.main_inner ul.left_box li:nth-child(1){
		font-weight:700;
	}
	#content03 div.main_inner ul.left_box li:nth-child(2){
		font-weight:400;
		margin-top:20px;
	}
	#content03 div.main_inner ul.right_box{
		float:none;
		width:100%;
		margin-left:0;
		margin-top:80px;
	}
	#content03 div.main_inner ul.right_box li{
		font-size:1rem;
		margin-bottom:10px;
		font-weight:400;	
	}
	#content03 div.main_inner ul.right_box li span{
		font-weight:700;
		width:70px;
		display:inline-block;
	}
}