/*common(header, footer, body, a와 같은 모든 페이지내의 부분적인 공통 영역에 해당되는 부분을 여기에서 선언) : 공통 적용*/
/*웹폰트*/



/*body*/
body{
    font-family: 'Noto Sans KR', sans-serif;
    background:#FFDDDD;
}

/*a*/


/*header(pc)*/

header {
    font-family: 'Roboto', sans-serif;
    height:auto;
}
header .header_wrap{
    position: fixed;
    top: 0;
    width: 100%;
    padding:50px 8% 0 8%;
    background: parent;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s; 
    display:flex;
    justify-content: space-between;
    z-index:100;
}
header .header_wrap div.logo{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}
header .header_wrap nav.pc_menu ul{
    display: flex;
    justify-content: space-between;
}
header .header_wrap nav.pc_menu ul li{
    margin-left:103px;
}
header .header_wrap nav.pc_menu ul li a{
    color:#3C3C3C;
}
header .header_wrap nav.pc_menu ul li a:hover{
    color:#fff;
    transition-duration :0.2s;
}
header nav.pc_menu ul li a:not(:hover) {
    transition: 1s ease-out;
}
header.scrolled .header_wrap {
    padding:20px 13.5%;
    background-color: rgba( 255, 255, 255, 0.75 );
}
header.scrolled .header_wrap div.logo{
    width:100px;
}
header.scrolled .header_wrap nav.pc_menu ul li{
    padding-top:10px;
}
header.scrolled .header_wrap nav.pc_menu ul li a:hover{
    color:#FFDDDD;
    transition-duration :0.2s;
}
header .header_wrap div.mobie_menu{
    display:none;
}  

@media all and (min-width:1280px) and (max-width:1800px){
    header .header_wrap{padding:50px 5% 0 5%;} 
}
@media all and (min-width:1921px){
    header .header_wrap{padding:50px 15% 0 ;}
    header.scrolled .header_wrap {padding:20px 15%;}
}


/*header(tablet, mobile)*/
@media all and (max-width:1000px){
    header .header_wrap{
        background:#fff;
        padding:2.5vw 5%;
    }
    header .header_wrap div.logo{
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        width:17.75vw;
        z-index:100;
    }
    header.scrolled .header_wrap {
        padding:2.5vw 5%;
        background-color: rgba( 255, 255, 255, 0.75 );
    }
    header.scrolled .header_wrap div.logo{
        width:17.75vw;
    }

    header .header_wrap nav.pc_menu{
        display:none;
    }

    header .header_wrap div.mobie_menu{
        display:block;
    }   
    #check_box {
        display: none;
    }
    #check_box + label {
        position: relative;
        display: block;
        width: 6vw;
        height: 5.5vw;
        cursor: pointer;
        z-index: 2;
        margin-top:0.3vw;
    }
    #check_box + label > span {
        position: absolute;
        display: block;
        width: 100%;
        height:1vw;
        background: #F5A3A3;
        transition: all 300ms;
    }
    #check_box:checked + label > span:nth-child(1) {
        top: 50%;
        transform: translate(0, -50%);
        transform: rotate(45deg);
    }
    #check_box + label > span:nth-child(2) {
        top: 50%;
        transform: translate(0, -50%);
    }
    #check_box:checked + label > span:nth-child(2) {
        opacity: 0;
    }
    #check_box + label > span:nth-child(3) {
        bottom: 0;
    }
    #check_box:checked + label > span:nth-child(3) {
        top: 50%;
        transform: translate(0, -50%);
        transform: rotate(-45deg);
    }
    #side_menu {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba( 255, 255, 255, 0.85 );
        left: -100%;
        transition: all 300ms;
        z-index: 1;
        top: 0px;
        box-sizing: border-box;
    }
    #side_menu ul{
        text-align:center;
    }
    #side_menu ul li{
        font-size:3.3vh;
        font-weight: 700;
        color:#F5A3A3;
        margin-top:4.7vh;
    }
    #side_menu ul li:first-child{
        margin-top:30vh;
    }
    #side_menu ul li:last-child{
        margin-top:15vh;
    }
    #side_menu ul li a{
        color:#F5A3A3;
    }
    #side_menu ul li img{
        width:15vh;
    }
    #check_box:checked + label + #side_menu {
        left: 0;
    }
}

@media all and (max-width:599px){
    header .header_wrap{padding:2.5vw 6.25%;}
    header.scrolled .header_wrap {padding:2.5vw 6.25%;}
}


/*footer(pc)*/
footer{
    width:100%;
    background:#B87EAB;
}
footer div.inner{
    width:84%;/*width:1620px;*/
    margin:0 auto;
    overflow:hidden;
    color:#fff;
    padding:105px 0;
}
footer div.inner div.box01{
    float:left;
    text-align:left;
    width:50%;
    font-size:1.25rem;
    font-weight:400;
}
footer div.inner div.box01 p{
    margin-bottom:42px;
}
footer div.inner div.box02{
    float:left;
    text-align:right;
    width:50%;
}
footer div.inner div.box02 ul{
    display:inline-flex;
    justify-content: space-between;
    width:250px;
}
footer div.inner div.box02 p{
    font-size:1.125rem;
    font-weight:300;
    margin-top:95px;
}
@media all and (min-width:1921px){
    footer div.inner{width:1700px;}
}

/*footer(tablet)*/
@media all and (min-width:600px) and (max-width:1279px){
    footer{
        width:100%;
        background:#B87EAB;
    }
    footer div.inner{
        padding:90px 0;
        width:100%;
    }
    footer div.inner div.box01{
        float:none;
        text-align:center;
        width:100%;
    }
    footer div.inner div.box01 p{
        margin-bottom:12px;
    }
    footer div.inner div.box02{
        float:none;
        text-align:center;
        width:100%;
    }
    footer div.inner div.box02 ul{
        display:inline-flex;
        justify-content: space-between;
        width:250px;
        margin-top:85px;
    }
    footer div.inner div.box02 p{
        margin-top:65px;
    }
}



/*footer(mobile)*/
@media all and (max-width:599px){
    footer{
        width:100%;
        background:#B87EAB;
        
    }
    footer div.inner{
        padding:60px 0;
        width:100%;
    } 
    footer div.inner div.box01{
        float:none;
        text-align:center;
        width:100%;
    }
    footer div.inner div.box01 p{
        margin-bottom:12px;
        font-size: 3.75vw;
    }
    footer div.inner div.box01 address{
        font-size: 3.75vw;
    }
    footer div.inner div.box02{
        float:none;
        text-align:center;
        width:100%;
    }
    footer div.inner div.box02 ul{
        display:inline-flex;
        justify-content: space-between;
        width:200px;
        margin-top:43px;
    }
    footer div.inner div.box02 ul li img{
        width:80%;
    }
    footer div.inner div.box02 p{
        margin-top:65px;
        font-size:2.92vw;
    }

}









