/*style.css)*/

/*pc형(전체)*/
/*visual-----------------------*/
#visual{
    width:100%;/*width:1620px;*/
}
#visual div.inner{
    width:84%;/*width:1620px;*/
    margin:0 auto;
    display:flex;
    padding-top:130px;
    padding-bottom:50px;
}
#visual div.inner div.text_box{
    width:50%;/*width:810px;*/
    padding-top:60px;
    padding-bottom:130px;
}
#visual div.inner div.text_box h1{
    font-weight:700;
    font-size:3.625rem;
    color:#000;
    padding-top:70px;
    line-height:4.375rem;
}
#visual div.inner div.text_box p{
    font-weight:500;
    font-size:1.375rem;
    color:#444;
    padding-top:24px;
    line-height:1.75rem;
}
#visual div.inner div.text_box div.visual_button{
    width:230px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background:#F5A3A3;
    text-align:center;
    margin-top:10.2%;
}
#visual div.inner div.text_box div.visual_button a{
    font-weight:400;
    font-size:1.125rem;
    color:#fff;
    padding:11px 0;
    display:block;
}
#visual div.inner ul.slider{
    width:50%;/*width:810px;*/
    text-align:right;
    overflow:hidden;
    position:relative;
    height:auto;
}
#visual div.inner ul.slider li{
    position:absolute;
    top:0;
    right:0;
    width:100%;
    opacity:0;
}

@media all and (min-width:1280px) and (max-width:1800px){
    #visual div.inner{
        width:90%;
        padding-top:150px;
        padding-bottom:50px;
    }
    #visual div.inner div.text_box h1{
        padding-top:60px;
    }
}
@media all and (min-width:1280px) and (max-width:1730px){
    #visual div.inner div.text_box p{
        font-size:1.25rem;
    }
}
@media all and (min-width:1280px) and (max-width:1570px){
    #visual div.inner{
        width:90%;
        padding-top:150px;
        padding-bottom:70px;
    }
    #visual div.inner div.text_box{
        margin-right:10%;
    }
    #visual div.inner div.text_box h1{
        padding-top:60px;
        font-size:2.875rem;
        line-height:3.250rem;
    }
    #visual div.inner div.text_box p br{
        display:none;
    }
    #visual div.inner div.text_box div.visual_button{
        margin-top:5.2%;
    }
}
@media all and (min-width:1280px) and (max-width:1460px){
    #visual div.inner{
        width:90%;
        padding-top:150px;
        padding-bottom:0;
    }
    #visual div.inner div.text_box{
        width:50%;/*width:810px;*/
        padding-top:0;
        padding-bottom:130px;
    }
}

/*content01-----------------------*/
#content01{
    width:100%;
}
#content01 div.outer div.wave_outer{
    position: relative;
    height:auto;
    width: 100%;
    display:flex;
}
#content01 div.outer div.wave_outer div.wave_inner01{
    background-color:#F5A3A3;
    width:10%;
    height:4.545vw;
}
#content01 div.outer div.wave_outer div.wave_inner01 p.ob_wave01{
    border-radius:0 0 100% 100%;
    height:100%;
    background-color:#FFDDDD;
}
#content01 div.outer div.wave_outer div.wave_inner02{
    background-color:#FFDDDD;
    width: 10%;
    height:4.545vw;
}
#content01 div.outer div.wave_outer div.wave_inner02 p.ob_wave02{
    border-radius:100% 100% 0 0;
    height:100%;
    background-color:#F5A3A3;
} 
#content01 div.outer div.inner{
    background-color:#F5A3A3;
    height:auto;
}
#content01 div.outer div.inner ul{
    width:73%;/*width:1400px;*/
    margin:0 auto;
    background-color:#F5A3A3;
    text-align:center;
    overflow:hidden;
}
#content01 div.outer div.inner ul li{
    float:left;
    width:30%;
    height:auto;
    margin:15% 5% 5% 0;
}
#content01 div.outer div.inner ul li:nth-child(3){
    margin-right:0;
}
#content01 div.outer div.inner ul li:nth-child(4){
    margin:0 2.5% 15% 17.5%;
}
#content01 div.outer div.inner ul li:nth-child(5){
    margin:0 17.5% 15% 2.5%;
}
#content01 div.outer div.inner ul li div{
   background:#fff;
   width:100%;
   height:auto;
   border-radius:6%;
}
#content01 div.outer div.inner ul li h2{
    font-family: 'Roboto', sans-serif;
    font-size:150%;
    font-weight:700;
    color:#743636;
    margin-top:20px;
 }
 #content01 div.outer div.wave_outer_bottom{
    position: relative;
    height:auto;
    width: 100%;
    display:flex;
}
#content01 div.outer div.wave_outer_bottom div.wave_inner01{
    background-color:#FFDDDD;
    width:10%;
    height:4.545vw;
}
#content01 div.outer div.wave_outer_bottom div.wave_inner01 p.ob_wave01{
    border-radius:0 0 100% 100%;
    height:100%;
    background-color:#F5A3A3;
}
#content01 div.outer div.wave_outer_bottom div.wave_inner02{
    background-color:#F5A3A3;
    width: 10%;
    height:4.545vw;
}
#content01 div.outer div.wave_outer_bottom div.wave_inner02 p.ob_wave02{
    border-radius:100% 100% 0 0;
    height:100%;
    background-color:#FFDDDD;
} 

/*content02-----------------------*/
#content02{
    width:100%;
}
#content02 div.inner{
    position: relative;
    width:73%;/*width:1400px;*/
    margin:150px auto 0;
}
#content02 div.inner div.content_box{
    display:flex;
    align-items: center;
    margin-bottom:90px;
}
#content02 div.inner div.content_box div:nth-child(1){
    width:37%; /*width:520px;*/
    margin-right:3%;
}
#content02 div.inner div.content_box div:nth-child(2){
    width:60%;
    text-align:right;
}
#content02 div.inner div.content_box div h3{
    color:#1E1E1E;
    font-size:3.5rem;
    font-weight:700;
    line-height:4.063rem;
    margin-top:14px;
}
#content02 div.inner div.content_box div p{
    color:#000;
    font-size:1.25rem;
    font-weight:500;
    line-height:1.563rem;
    margin-top:24px;
}
#content02 div.inner form{
    width:100%;
}
#content02 div.inner form ul{
    display:flex;
}
#content02 div.inner form ul li{
    width:22%;
    margin-right:4%;
    border-radius:20px;
}
#content02 div.inner form ul li:last-child{
    margin-right:0;
}
#content02 div.inner form ul li p{
    font-size:1.25rem;
    font-weight:500;
    color:#514848;
    margin-bottom:7px;
    margin-left:5%;
}
#content02 div.inner form ul li div{
    width:100%;
    height:50px;
    background:#fff;
    border-radius:20px;
}
#content02 div.inner form ul li div input{
    width:100%;
    border-radius:20px;
    height:100%;
    text-indent:5%;
    font-size:1.125em;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:400;
}
#content02 div.inner form ul li div select{
    width:100%;
    height:100%;
    text-indent:5%;
    font-size:1.125em;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:500;
    appearance:none;
    background:url('../images/main/arrow.png') no-repeat right 20px center;
}
#content02 div.inner form div.memo{
    width:100%;
}
#content02 div.inner form div.memo p{
    font-size:1.25rem;
    font-weight:500;
    color:#514848;
    margin:22px 0 7px 1%;
}

#content02 div.inner form div.memo textarea{
    width:100%;
    border-radius:20px;
    height:265px;
    text-indent:1.3%;
    font-size:1.125em;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:400;
    margin-bottom:50px;
    padding-top:20px;
    border: none;
    resize: none;
}
#content02 div.inner form div.order_button{
    text-align:center;
    width:100%;
}
#content02 div.inner form div.order_button button{
    width:230px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background:#F5A3A3;
    text-align:center;
    font-weight:400;
    font-size:1.125rem;
    color:#fff;
    padding:11px 0;font-family: 'Noto Sans KR', sans-serif;
}
@media all and (min-width:1280px) and (max-width:1460px){
    #content02 div.inner div.content_box div p br{
        display:none;
    }
}
@media all and (min-width:1280px) and (max-width:1320px){
    #content02 div.inner div.content_box div:nth-child(1){
        width:30%;
    }
    #content02 div.inner div.content_box div:nth-child(2){
        width:67%;
    }
}

/*content03-----------------------*/
#content03{
    width:100%;
    margin-bottom:170px;
}
#content03 div.inner{
    position: relative;
    width:84%;/*width:1620px;*/
    margin:180px auto 0;
}
#content03 div.inner h4{
    font-family: 'Roboto', sans-serif;
    font-size:3.5rem;
    font-weight:700;
    text-align:center;
    margin-bottom:72px;
}
#content03 div.inner div.sns_wrap{
    overflow:hidden;
}
#content03 div.inner div.sns_wrap div.vertical_box{
    float:left;
    width:13%;
    margin-right:1.8%;
}
#content03 div.inner div.sns_wrap div.vertical_box div.sns_box{
    border-radius:18%;
    overflow:hidden;
    margin-bottom:9%;
}
#content03 div.inner div.sns_wrap div.vertical_box:last-child{
    margin-right:0;
}
#content03 div.inner div.sns_wrap div.vertical_box img{
    width:100%;
}
#content03 div.inner div.sns_wrap div.vertical_box01{
    margin-top:7%;
}
#content03 div.inner div.sns_wrap div.vertical_box03{
    margin-top:7%;
}
#content03 div.inner div.sns_wrap div.vertical_box04{
    width:26%;
}
#content03 div.inner div.sns_wrap div.vertical_box04 div.sns_box:first-child{
    margin-bottom:4.5%;
    border-radius:9%;
}
#content03 div.inner div.sns_wrap div.vertical_box04 div.sns_box:last-child{
    width:50%;
    margin-left:50%;
}
#content03 div.inner div.sns_wrap div.vertical_box05{
    margin-top:13%;
}
#content03 div.inner div.sns_wrap div.vertical_box06{
    margin-top:18%;
}
#content03 div.inner div.sns_mobile{
    display:none;
}


@media all and (min-width:1921px){
    #visual div.inner{width:1700px;}
    #content01 div.outer div.inner ul{width:1700px;}
    #content02 div.inner{width:1700px;}
    #content03 div.inner{width:1700px;}
}


/*태블릿형(전체)*/
@media all and (min-width:600px) and (max-width:1279px){
    /*visual tablet-----------------------*/
    #visual{
        width:100%;
    }
    #visual div.inner{
        width:100%;
        margin:30px 0 0 0;
        flex-wrap:wrap;
        position:relative;
        height:1000px;
        padding-top:70px;
        overflow:hidden;
    }
    #visual div.inner div.text_box{
        width:90%;
        z-index:10;
        padding-top:0;
        padding-bottom:0;
        margin:0 auto;
    }
    #visual div.inner div.text_box p{
        width:100%;
        font-size:1.25rem;
    }
    #visual div.inner div.text_box div.visual_button{
        margin-top:100px;
        width:200px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
    }
    
    #visual div.inner ul.slider{   
        height:630px;
        width:100%;
        position:absolute;
        bottom:0;
        right:-17%;
    }
    #visual div.inner ul.slider li{
        position : inherit;
    }

    /*content01 tablet-----------------------*/
    #content01{
        width:100%;
    }
    #content01 div.outer div.wave_outer{
        display:none;
    }   
    #content01 div.outer div.inner{
        background-color:#FFDDDD;
        width:100%;
    }
    #content01 div.outer div.inner ul{
        width:100%;
        background-color:#FFDDDD;
    }
    #content01 div.outer div.inner ul li{     
        margin:0;
        float:none;
        width:100%;
        position:relative;
        height:400px;
    }
    #content01 div.outer div.inner ul li:nth-child(3){
        margin-right:0;
    }
    #content01 div.outer div.inner ul li:nth-child(4){
        margin:0;
    }
    #content01 div.outer div.inner ul li:nth-child(5){
        margin:0;
    }
    #content01 div.outer div.inner ul li div{
        border-radius:0;
        background:none;
        position:absolute;
        bottom:0;
        z-index:10;
    }
    #content01 div.outer div.inner ul li:nth-child(odd) div{
        text-align:left;
    }
    #content01 div.outer div.inner ul li:nth-child(even) div{
        text-align:right;
    }
    #content01 div.outer div.inner ul li h2{
        padding:33px 0;
        background:#fff;
        width:100%;
        font-size:2rem;
        margin-top:0;
        position:absolute;
        bottom:0;
    }
    #content01 div.outer div.inner ul li:nth-child(odd) h2{
        text-align:right;
        padding-right:15%;
    }
    #content01 div.outer div.inner ul li:nth-child(even) h2{
        text-align:left;
        padding-left:15%;
    }
    #content01 div.outer div.wave_outer_bottom{
        display:none;
    }

    /*content02 tablet-----------------------*/
    #content02{
        width:100%;
    }
    #content02 div.inner{
        margin:200px auto 0;
        width:90%;
    }
    #content02 div.inner div.content_box{
        margin-bottom:70px;
    }
    #content02 div.inner div.content_box div:nth-child(1){
        display:none;
    }
    #content02 div.inner div.content_box div:nth-child(2){
        width:100%;
        text-align:center;
    }
    #content02 div.inner div.content_box div h3{
        margin-top:0;
        font-size:3.5rem;
        line-height:4.063rem;
    }
    #content02 div.inner div.content_box div p{      
        margin-top:24px;
        font-size:1.125rem;
        line-height:1.5rem;
    }
    #content02 div.inner form ul{
        display:flex;
        flex-wrap: wrap;
    }
    #content02 div.inner form ul li{ 
        width:48%;
        margin-right:4%;
        border-radius:20px;
        margin-bottom:15px;
    }
    #content02 div.inner form ul li:nth-child(2){
        margin-right:0;
    }
    #content02 div.inner form ul li:last-child{
        margin-right:0;
    }
    #content02 div.inner form ul li p{
        font-size:1.188rem;
    }
    #content02 div.inner form ul li div{
        height:40px;
    }
    #content02 div.inner form div.memo p{
        margin:0 0 7px 1%;
        font-size:1.188rem;
    }
    #content02 div.inner form div.memo textarea{
        height:200px;
    }
    #content02 div.inner form div.order_button{
        text-align:center;
        width:100%;
    }
    #content02 div.inner form div.order_button button{
        width:200px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
        font-size:1.125rem;
    }

  

    /*content03 tablet-----------------------*/
    #content03{
        width:100%;
        margin-bottom:0;
    }
    #content03 div.inner{
        width:90%;
        margin:170px auto 170px;
    } 
    #content03 div.inner h4{
        font-size:3rem;
        margin-bottom:55px;
    }
    #content03 div.inner div.sns_wrap{
        display:none;
    }
    #content03 div.inner div.sns_mobile{
        display:block;
        
    }
    #content03 div.inner div.sns_mobile ul{
        width:100%;
        overflow:hidden;
    }
    #content03 div.inner div.sns_mobile ul li{
        width:32%;
        margin-right:2%;
        margin-bottom:20px;
        float:left;
    }
    #content03 div.inner div.sns_mobile ul a:nth-child(3) li{
        margin-right:0;
    }

    #content03 div.inner div.sns_mobile ul a:nth-child(6) li{
        margin-right:0;
    }
    #content03 div.inner div.sns_mobile ul li img{
        width:100%;
        border-radius: 45px;
    }
}



@media all and (min-width:651px) and (max-width:700px){
    #visual div.inner ul.slider{   
        height:500px;
    }
    #visual div.inner ul.slider li{
        width:100%;
    }
    #visual div.inner ul.slider li img{
        width:90%;
    }
    #visual div.inner div.text_box div.visual_button{
        margin-top:50px;
    }
}

@media all and (min-width:600px) and (max-width:650px){
    #visual div.inner ul.slider{   
        height:485px;
    }
    #visual div.inner ul.slider li{
        width:100%;
    }
    #visual div.inner ul.slider li img{
        width:100%;
    }
    #visual div.inner div.text_box div.visual_button{
        margin-top:60px;
    }

    #content02 div.inner div.content_box div h3{
        margin-top:0;
        font-size:2.625rem;
        line-height:3rem;
    }
    #content02 div.inner div.content_box div p{
        margin-top:18px;
        font-size:1rem;
        line-height:1.125rem;
    }
}
/*모바일형(전체)*/



@media all and (max-width:599px){
 /*visual mobile-----------------------*/
    #visual{
        width:100%;
    }
    #visual div.inner{
        width:100%;
        margin:14vw 0 0 0;
        flex-wrap:wrap;
        position:relative;
        height:160.5vw;
        padding-top:0;
        overflow:hidden;
    }
    #visual div.inner div.text_box{
        width:87%;
        z-index:10;
        padding-top:0;
        padding-bottom:0;
        margin:0 auto;
    }
    #visual div.inner div.text_box h1{
        font-size:8.75vw;
        line-height:9.2vw;
    }
    #visual div.inner div.text_box p{
        width:100%;
        font-size:3.5vw;
        line-height:4.5vw;
    }
    #visual div.inner div.text_box p br{
        display:none;
    }
    #visual div.inner div.text_box div.visual_button{
        margin-top:14.58vw;
        width:33.33vw;
        -webkit-border-radius: 25px;
        border-radius: 25px;
    }
    #visual div.inner div.text_box div.visual_button a{
        font-size:3.33vw;
    }
    #visual div.inner ul.slider{   
        height:80vw;
        width:100%;
        position:absolute;
        bottom:0;
        right:-17%;
    }
    #visual div.inner ul.slider img{ 
        width:100%;
    }
    #visual div.inner ul.slider li{
        position : inherit;
    }

     /*content01 mobile-----------------------*/
     #content01{
        width:100%;
    }
    #content01 div.outer div.wave_outer{
        display:none;
    }   
    #content01 div.outer div.inner{
        background-color:#FFDDDD;
        width:100%;
    }
    #content01 div.outer div.inner ul{
        width:100%;
        background-color:#FFDDDD;
    }
    #content01 div.outer div.inner ul li{     
        margin:0;
        float:none;
        width:100%;
        position:relative;
        height:75.33vw;
    }
    #content01 div.outer div.inner ul li:nth-child(3){
        margin-right:0;
    }
    #content01 div.outer div.inner ul li:nth-child(4){
        margin:0;
    }
    #content01 div.outer div.inner ul li:nth-child(5){
        margin:0;
    }
    #content01 div.outer div.inner ul li div{
        border-radius:0;
        background:none;
        position:absolute;
        bottom:10vw;
        z-index:10;
        width:100%;
    }
    #content01 div.outer div.inner ul li div img{
        width:60%;
    }
    #content01 div.outer div.inner ul li:nth-child(odd) div{
        text-align:center;
    }
    #content01 div.outer div.inner ul li:nth-child(even) div{
        text-align:center;
    }
    #content01 div.outer div.inner ul li h2{
        padding:8.33vw 0;
        background:#fff;
        width:100%;
        font-size:7.5vw;
        margin-top:0;
        position:absolute;
        bottom:0;
    }
    #content01 div.outer div.inner ul li:nth-child(odd) h2{
        text-align:center;
        padding-right:0;
    }
    #content01 div.outer div.inner ul li:nth-child(even) h2{
        text-align:center;
        padding-left:0;
    }
    #content01 div.outer div.wave_outer_bottom{
        display:none;
    }

    /*content02 mobile-----------------------*/
    #content02{
        width:100%;
    }
    #content02 div.inner{

        margin:150px auto 0;
        width:87%;
    }
    #content02 div.inner div.content_box{
        margin-bottom:35px;
    }
    #content02 div.inner div.content_box div:nth-child(1){
        display:none;
    }
    #content02 div.inner div.content_box div:nth-child(2){
        width:100%;
        text-align:center;
    }
    #content02 div.inner div.content_box div h3{
        margin-top:0;
        font-size:7.5vw;
        line-height:8.5vw;
    }
    #content02 div.inner div.content_box div p{      
        margin-top:4vw;
        font-size:3.33vw;
        line-height:4vw;
    }
    #content02 div.inner div.content_box div p br{
        display:none;
    }
    #content02 div.inner form ul{
        display:flex;
        flex-wrap: wrap;
    }
    #content02 div.inner form ul li{ 
        width:100%;
        margin-right:0;
        border-radius:20px;
        margin-bottom:15px;
    }
    #content02 div.inner form ul li:nth-child(2){
        margin-right:0;
    }
    #content02 div.inner form ul li:last-child{
        margin-right:0;
    }
    #content02 div.inner form ul li p{
        font-size:3.75vw;
        text-align:center;
        margin-left:0;
    }
    #content02 div.inner form ul li div{
        height:7.71vw;
    }
    #content02 div.inner form div.memo p{
        margin:0 0 7px 0;
        font-size:3.75vw;
        text-align:center;
    }
    #content02 div.inner form ul li div input{
        font-size:3.75vw;
    }
    #content02 div.inner form ul li div select{
         font-size:3.75vw;
         appearance:none;
    }
    #content02 div.inner form ul li div select option{
        font-size:3.75vw;
    }
    #content02 div.inner form div.memo textarea{
        height:200px;
        margin-bottom:50px;
    }
    #content02 div.inner form div.order_button{
        text-align:center;
        width:100%;
    }
    #content02 div.inner form div.order_button button{
        width:33.33vw;
        -webkit-border-radius: 25px;
        border-radius: 25px;
        font-size:3.33vw;
    }

        /*content03 mobile-----------------------*/
        #content03{
            width:100%;
            margin-bottom:0;
        }
        #content03 div.inner{
            width:90%;
            margin:150px auto;
        } 
        #content03 div.inner h4{
            font-size:7.5vw;
            margin-bottom:10.42vw;
    
        }
        #content03 div.inner div.sns_wrap{
            display:none;
        }
        #content03 div.inner div.sns_mobile{
            display:block;
            
        }
        #content03 div.inner div.sns_mobile ul{
            width:100%;
            overflow:hidden;
        }
        #content03 div.inner div.sns_mobile ul li{
            width:48.5%;
            margin-right:3%;
            margin-bottom:3%;
            float:left;
        }
        #content03 div.inner div.sns_mobile ul a:nth-child(even) li{
            margin-right:0;
        }
        #content03 div.inner div.sns_mobile ul a:nth-child(3) li{
            margin-right:3%;
        }
        #content03 div.inner div.sns_mobile ul a:nth-child(6) li{
            margin-right:0;
        }
        #content03 div.inner div.sns_mobile ul li img{
            width:100%;
            border-radius:9%;
        }

}
